/* About */

#about {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./images/about-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 5rem 0px;
  padding: 2rem;
}
#about h1 {
  font-size: 60px;
  color: white;
  letter-spacing: 3px;
  padding-bottom: 3rem;
  text-align: center;
}


.about-info ul li {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 10px;
  color: white;
}
